* {
  box-sizing: border-box;
}

.login-view {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.login-form {
  display: block;
  max-width: 280px;
  margin: 0 auto;
  line-height: 2em;
}

.login-form__line {
  display: block;
}

.login-form__line__label {
  display: inline;
}

.login-form__line__input-field {
  display: inline;
  width: 200px;
  float: right;
}

.login-form__login-button {
  display: block;
  margin: 0 auto;
}