$color: steelblue;

body {
  background-color: rgb(240, 238, 238);
  max-width: 1400px;
  display: block;
  margin: 15px auto;
}

h1 {
  display: block;
  max-width: 50%;
  text-align: center;
  margin: auto;
}